.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin: 70px 160px;
}
.contact-title {
  position: relative;
}
.contact-title h1 {
  padding: 0 30px;
  font-size: 70px;
  font-weight: 600;
}
.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.contact-section {
  display: flex;
  gap: 150px;
}
.cleft {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cleft h1 {
  font-size: 70px;
  font-weight: 600;
  background: linear-gradient(267deg, orange 0.36%, magenta);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cleft p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 20px;
  line-height: 35px;
}
.cdetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  font-size: 22px;
}
.cdetail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cright {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}
.cright label {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 500;
}
.cright input {
  border: none;
  width: 700px;
  height: 70px;
  margin-top: 5px;
  padding: 0 0 0 20px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.434);
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.cright textarea {
  width: 670px;
  border: none;
  margin-top: 5px;
  padding: 25px;
  border-radius: 4px;
  background: rgba(128, 128, 128, 0.422);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  resize: none;
}
.btn1 {
  border: 1.5px solid grey;
  margin-top: 10px;
  /* margin-left: 72%; */
  color: white;
  border-radius: 50px;
  background: transparent;
  font-size: 22px;
  padding: 15px 50px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width:412px) {
  .contact {
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  .contact-title h1 {
    padding: 0;
    font-size: 50px;
    font-size: 500;
  }
  .contact-title img {
    width: 140px;
    margin-right: 80px;
  }
  .contact-section {
    flex-direction: column;
  }
  .cleft h1 {
    font-size: 50px;
  }
  .cleft p {
    font-size: 18px;
  }
  .cdetail {
    gap: 20px;
  }
  .cdetail img {
    width: 25px;
  }
  .cright {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .cright label {
    font-size: 25px;
  }
  .cright input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .cright textarea {
    width: 90%;
    font-size: 20px;
  }
  .btn1 {
    border: none;
    margin-top: 10px;
    margin-left: 0;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, orange 0.36%, magenta);
    font-size: 20px;
    padding: 12px 45px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
}
